APScheduler==3.10.0
beautifulsoup4==4.12.2
clipboard==0.0.4
Flask==2.3.2
Flask_And_Redis==1.0.0
loguru==0.7.0
lxml==4.9.2
mysql_connector_repackaged==0.3.1
pandas==1.5.3
Pillow==10.1.0
playwright==1.39.0
PyAutoGUI==0.9.54
PyExecJS==1.5.1
pynput==1.7.6
pyscreenshot==3.1
pytesseract==0.3.10
pytz==2023.3.post1
redis==3.5.3
requests==2.30.0
